<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block styles %} {%endblock%}
      
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      
      <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle" aria-expanded="false" id="add-btn"> +
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><i class="glyphicon glyphicon-user
"></i> Dora La Desarrolladora <span class="sr-only">(current)</span></a></li>
              <li><a href="#"><i class="glyphicon glyphicon-list-alt
              "></i> Puntos Disponibles</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-time
              "></i> Historial de Puntos</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-piggy-bank"></i> incentivos</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-info-sign
              "></i> Ayuda</a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="glyphicon glyphicon-remove
            "></i> Cerrar Sesión</a></li>
          </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
        {% block body %}{% endblock %}
        
      </body>
      
      <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
      <!-- Bootstrap JS Minified -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {% block scripts %}{% endblock %}
    </html>