/*
=======
NavBar
=======
*/

.navbar-header {
	/*Defining the pink color on navbar*/
	background-color: #e92f82;
	color: white;
}
.navbar-default{
	margin-bottom: 0;
	border: none;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #332f48;
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav>.active>a {
	background-color: #474159;
	color: white;
}
.navbar-toggle {
	float: left;
	margin-left: 15px;
	border: none;
}
#add-btn {
	float: right;
    border: none;
    font-size: 3rem;
    padding: 0;
    margin-top: 1px;
}
.navbar-default .navbar-nav>li>a:focus{
	color: white;
}
/*
=============
Main Screen
=============
*/
.main-screen {
	height: 92vh;
	width: 100vw;
	position: absolute;
	padding: 0;
}

/*
=============
Slider
=============
*/
#slider {
    margin-top: 15vh;
    margin-bottom: 2rem;
}
#slider-500{
	margin-top: 6vh;

}
#slider .rs-range-color  {
    background-color: #33B5E5;
}
#slider .rs-path-color  {
    background-color: #C2E9F7;
}
#slider .rs-handle  {
    background-color: #C2E9F7;
    padding: 7px;
    border: 2px solid #C2E9F7;
}
#slider .rs-handle.rs-focus  {
    border-color: #33B5E5;
}
#slider .rs-handle:after  {
    border-color: #33B5E5;
    background-color: #33B5E5;
}
#slider .rs-border  {
    border-color: transparent;
}
.rs-tooltip.edit, .rs-tooltip .rs-input {
    color: #e7297e;
    font-size: 8rem;
    font-weight: 200;
}

/*
========
General
========
*/

.pink-button {
	background-color: #e92f82;
	color: white;	
    z-index: 9999;
    position: relative;
}
.pink-button:focus {
	background-color: #e92f82;
	color: white;
	border: 1px solid #e92f82;
	outline: none;
}
.pink-button:active {
	background-color: #de2d7c;
	color: white;
	border: 1px solid #e92f82;
}


/*
===========
Premios 500
===========
*/
.premios-500{
	padding: 0;
	height: 91vh;
	position: absolute;
}
.slider-top-container {
	background: #7b7b7c;
}

.slider-bottom-container {
	background: transparent;
}
/*
========
Footer
========

*/
.redeem-ftr {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	padding: 0;
}

.redeem-ftr .points {
	font-weight: 300;
	text-decoration: underline;
	-moz-text-decoration-color: #4aadb5;
    text-decoration-color: #4aadb5;

}
.redeem-ftr .left {
	background-color: #332f4a;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.redeem-ftr .right {
	background-color: #1f96ac;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}


/*
======
Slider
======
*/
#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: -5rem;

}

#slides ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: 200;

}

#slides2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  top: -5rem;

}

#slides2 ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides2 li {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: 200;

}

.btn-bar {

}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}
#buttons2 {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
	text-align: center;
	display: block;
	font-size: 50px;
	float: left;
	outline: 0;
	position: relative;
	z-index: 99999999;
	height: 5rem;
	color: white;
	text-decoration: none;
	display: block;
	padding: 9px;
	width: 35px;
	top: -3rem;

}

#buttons2 a {
	text-align: center;
	display: block;
	font-size: 50px;
	float: left;
	outline: 0;
	position: relative;
	z-index: 99999999;
	height: 5rem;
	color: white;
	text-decoration: none;
	display: block;
	padding: 9px;
	width: 35px;
	top: -3rem;

}

a#prev:hover,
a#next:hover {
  text-shadow: .5px 0px #b14943;
}
a#prev2:hover,
a#next2:hover {
  text-shadow: .5px 0px #b14943;
}
.tramites-title {
	text-align: center;
	color: #76c1ba;
	text-transform: uppercase;
	font-weight: 200;
	margin-top: 0;
    padding-bottom: 3rem;
    text-decoration: none;
}
.tramites-title-2 {
	text-align: center;
	color: #76c1ba;
	text-transform: uppercase;
	font-weight: 200;
}
a:hover, a:active, a:visited {
    text-decoration:none;
}
.bottom-side {
	position: absolute;
	padding: 0;	
	bottom: 0;
	background-color: #332f4a;
	z-index: 999999;
}

/*
=========
Canjea
=========
*/
.canjea {
	text-align: center;
	background-color: #332f4a;
	color: white;
	height: 92vh;
}
.canjea .title {
	text-align: center;
	color: #76c1ba;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 5rem;
}
.canjea .value {
	color: #e73184;
	font-weight: 200;
	font-size: 3rem;
}
.canjea .detail {
	font-size: 2rem;
	font-weight: 100;
}
.canjea .codigo-barras {
	height: 9rem;
}

.canjea .instructions {
	font-weight: 100;
	text-transform: uppercase;
	margin-top: 5rem;
}


/*
=========
Historial
=========
*/
.historial-premios {
	padding: 0;
    height: 91vh;
    position: absolute;
	background-color: #332f48;
	color: white;
}

.historial-premios .post {
	border: 1px solid #57848b;
	margin: 10px;
	padding: 10px;
	border-radius: 1rem;
}

.historial-premios .date {
	text-align: right;
}
.historial-premios .description {
	font-size: 2rem;
	font-weight: 200;
}
.historial-premios .type {
	text-transform: uppercase;
	font-weight:bold;

}

/*
==================
Puntos Disponibles
==================
*/
.puntos-disponibles {
    height: 91vh;
    position: absolute;
	background-color: #332f48;
	color: white;	
	padding: 2rem;
}

.puntos-disponibles .panel {
	border: none;
	padding: 0;
	margin-right: 10px

}
.puntos-disponibles .panel-heading {
	background-color: #e92f82;
	color: white;
	text-transform: capitalize;
	border: none;
}
.puntos-disponibles .panel-body {

	background-color: #f1f1f1;
	color: black;
	border: none;
	font-weight: 200;

}
.puntos-disponibles .panel-footer {
	background-color: #75c5be;
	border: none;
	text-align: center;
}
.puntos-disponibles .panel-footer a {
	color: white;
	text-transform: uppercase;
}
.puntos-disponibles .incentive {
	text-align: right;
	text-transform: capitalize;
}
















