

.navbar {
	margin-bottom: 0;
}
main{
	margin-top: 33vh;
	color: white;
}
.main-container {
	height: 92vh;
	background: url(https://hd.unsplash.com/photo-1427751840561-9852520f8ce8) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
