/*
==========
Editorial
==========

*/
label {
	color: #75c5be;
	font-weight: 400;
	text-transform: capitalize;
	font-size: 1.5rem;
}

/*
==========
General Registro
==========

*/
form {
	padding: 10px 32px;
}
.container-fluid{
	background-color: #efefee;
}
.registro-container {
	height: 100vh;
	max-width: 500px;
    display: block;
    margin: 0 auto;
}

input.form-control {
	border: 2px solid #e83185;
	height: 4rem;
}
.form-control:focus {
	border-color: #ff0075;
}
#pink {
	background-color: #e83185;
	color: white;
}

#cdmx-logo { 
	height: 60px;
	display: block;
    padding-top: 10px;
    margin: 10px auto;
}

#cdmx-logo-login{
	position: relative;
    bottom: -14rem;
    height: 80px;
	display: block;
    padding-top: 10px;
    margin: 10px auto;
}

#logo-prereci {
	height: 80px;
	display: block;
    margin: 30px auto;
}
