{% extends "base/navbar.html" %}
{% load staticfiles %}
{% block title %}PARECI{% endblock %}
{% block styles%} 

	<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}"> 
	<link href="https://cdn.jsdelivr.net/jquery.roundslider/1.3/roundslider.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}

<div class="container-fluid main-screen">
	<div id="slider" class="col-xs-12"></div>
	<h3 class="slider-value">200</h3>


</div>

{% endblock %}

{% block scripts %}

	<script src="https://cdn.jsdelivr.net/jquery.roundslider/1.3/roundslider.min.js"></script>
	<script src="{% static "js/main-screen.js" %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}
